#middle{
    
    margin-left: 45%;
}
.box1{
    float:left;
    width:28%;
    margin-left: 3%;
    text-align: left;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    padding-left: 3px;
    padding-top: 30px;
    border-width: 4px;
    background-color: grey;
    display:block;
    max-height: 200px;
    box-sizing: border-box;
    overflow: hidden;
}
.boxs{
   
    background-color:red;


    width: 69px;
    float: right;
    position: relative;
    top: -46px;
    right: -1px;
    text-align: center;
    font-size: 18px;
    border-style: solid;
    

}

.box2{
    float:left;
    width:28%;
    margin-left: 3%;
    text-align: left;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    padding-left: 3px;
    padding-top: 30px;
    border-width: 4px;
    background-color: grey;
    display:block;
    max-height: 200px;
    box-sizing: border-box;
    overflow: hidden;

}
.boxs2{


    background-color:green;


    width: 69px;
    float: right;
    position: relative;
    top: -46px;
    right: -1px;
    text-align: center;
    font-size: 18px;
    border-style: solid;

    
}


.box3{
    float:right;
    width:28%;
    margin-left: 3%;
    text-align: left;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    padding-left: 3px;
    padding-top: 30px;
    border-width: 4px;
    background-color: grey;
    margin-right: 73px;
    display:block;
    max-height: 200px;
    box-sizing: border-box;
    overflow: hidden;

}
.boxs3{


background-color: yellow;
    width: 69px;
    float: right;
    position: relative;
    top: -46px;
    right: -1px;
    text-align: center;
    font-size: 18px;
    border-style: solid;
}